.orderedItemContainer {
    margin-left: 20px;
    padding: 10px;
}

.orderedItemContainer:hover {
    background-color: var(--light-grey);
}

.dragableIcon {
    margin-right: auto;
}

.orderIcon {
    margin: auto 5px;
    cursor: pointer;
}

.orderIcon img {
    height: 16px;
}
